<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/w3.css' %}">
    <link rel="stylesheet" href="{% static 'css/light-green.css' %}">

    <link href="https://cdn.quilljs.com/1.3.6/quill.snow.css" rel="stylesheet">    
    <link rel="stylesheet"href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/styles/vs2015.min.css">
    <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/10.7.2/highlight.min.js"></script>
    <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    <style>
    /* .ql-snow {border:none !important;} */
    .ql-editor {font-size: 14px;}
    #id_subject {
      width:100%;
    }
    a:link {
        text-decoration: none;
    }
    </style>
  </head>
<body class="w3-theme-l5">

{% include 'menu.html' %}

    <div class="w3-container">
        
        <h3 class="w3-text-theme">{{post.post_name}}</h3>

        
        <div id="detail" style="display:none;">
        {% autoescape off %}
          {{post.post_detail}}
        {% endautoescape %}
        </div>
        <div id="editor"></div>    
        {% if user.is_authenticated %}
            <p><button><a href="{% url 'blogs:update' post.id %}">Edit</a></button></p>
        {% endif %}    
    </div>
      
      <script src="https://cdn.quilljs.com/1.3.6/quill.js"></script>
    
      <script>
    
      let x = document.getElementById("detail").innerHTML;
      // let newx = x.replace('<!', '&lt;!');
      document.getElementById('editor').innerHTML = x;
    
      hljs.configure({   // optionally configure hljs
        languages: ['javascript','python', 'html', 'bash', 'markdown', 'css', 'shell','sql']
      });
    
    
      var quill = new Quill('#editor', {
        modules: {
          syntax: true,
          toolbar: '',
        },
        theme: 'snow'
      });
      quill.enable(false);
    
      </script>
</body>  
</html>
